/* GoogleFont Import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Metal+Mania&display=swap');

:root {
  --main-font: "Metal Mania", sans-serif;
  --second-font: "Josefin Sans", sans-serif;
}

body {
  background-image: url('../images/background.png');
  background-color: #000000;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: #ffffff;
  font-family: var(--second-font)
}

#gameContainer {
  width: 100%;
  text-align: center;
}

#scoring {
  margin: 0 auto;
  width: 80%;
  height: 120px;
  text-align: center;
}

#matchDisplay {
  text-align: center;
  align-content: center;
}

#timerDisplay {
  text-align: center;
  align-content: center;
}

#winDisplay {
  width: 100%;
  justify-content: center;
  align-content: center;
}

#buttons {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.button:hover {
  color: red;
  border: solid 4px red;
}

h1 {
  font-family: var(--main-font);
  margin: 20px 20px 10px 20px;
  text-align: center;
}

.row {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.flipped {
  border-radius: 10%;
  border: solid black 6px;
  background-color: #F5F5FF;
}

/* Smaller devices (landscape phones, 575px and below) */
@media (max-width: 575px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 100px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 80px;
    height: 90%;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
    border: solid 2px white;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 140px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 120px;
    height: 90%;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 10%;
    border: solid 2px white;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-auto-rows: 180px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 160px;
    height: 90%;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    border-radius: 10%;
    border: solid 4px white;
  }
}