/* GoogleFont Import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Metal+Mania&display=swap');

/* Font Variables */
:root {
  --main-font: "Metal Mania", sans-serif;
  --second-font: "Josefin Sans", sans-serif;
}

/* Main Body controller*/
body {
  background-image: url('../images/background.png');
  background-color: #000000;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: #ffffff;
  font-family: var(--second-font)
}

#gameContainer {
  width: 100%;
  text-align: center;
}

#scoring {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  text-align: center;
}

#matchDisplay {
  width: fit-content;
  text-align: center;
  align-content: center;
}

#timerDisplay {
  width: fit-content;
  text-align: center;
  align-content: center;
}

#winDisplay {
  height: 100px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#submitScore, #highScoreButtons {
  height: 100px;
  width: 100%;
  justify-content: center;
  align-content: center;
}

/* Button formatting */
#buttons {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.button {
  font-weight: bold;
  border-radius: 10%;
  color: white;
  border: solid 2px black;
}

.button.submit, .button.closeModal, .button.resetScores {
  margin: 20px;
  border: solid 2px white;
}

.easy {
  background-color: rgb(0, 78, 0);
}

.medium {
  background-color: rgb(170, 111, 0);
}

.hard {
  background-color: rgb(190, 0, 0);
}

.highScore {
  color: black;
  border-radius: 10%;
  background-color: lightblue;
}

.button.highScore:hover {
  border-radius: 10%;
  background-color: white;
  color: black;
  border: solid 2px white;
}

.cb {
  background-color: black;
  color: white;
  border: solid 2px white;
}

.button.cb:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.button:hover {
  color: white;
  border: solid 2px white;
}

h1 {
  font-family: var(--main-font);
  margin: 20px 20px 10px 20px;
  text-align: center;
}

.card {
  justify-content: center;
  align-items: center;
}

/* Layout control */
.row {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.flipped {
  border-radius: 10%;
  border: solid black 6px;
  background-color: #F5F5FF;
  font-weight: bold;
  font-size: large;
}

/* Modal */
.modal-content {
  background-color: #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
}

.modal-body {
  text-align: center;
  justify-content: center;
  align-content: center;
}

#submitScore {
  text-align: center;
  justify-content: center;
}

/* Smaller devices (landscape phones, 575px and below) */
@media (max-width: 575px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 120px;
    gap: 5px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 100px;
    height: 100%;
    font-size: small;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 140px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 120px;
    height: 90%;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #cardContainer {
    width: 60vw;
    margin: 30px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-auto-rows: 180px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }

  .card {
    max-width: 160px;
    height: 90%;
  }

  .not-flipped {
    background-image: url('../images/card_back.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
  }

  .button {
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
  }
}